<html>
<head>
 <title>MIDI Music Box Player</title>
 <link rel="stylesheet" href="{{ static_url('style.css') }}" />

</head>
<body>
    
<h1>MIDI Music Box Player</h1>

<h2>MIDI files</h2>
    <ul>
      {% for filename in filelist %}
      <li>
	{{ filename }}
	<input type="button" value="PLAY" id="play_{{ filename }}" onclick="play_midi('{{ filename }}')">
	<input type="button" value="STOP" id="stop_{{ filename }}" onclick="stop_midi('{{ filename }}')">
	&nbsp;	&nbsp;	&nbsp;	&nbsp;
	<a href="#" id="stop_{{ filename }}" onclick="del_midi('{{ filename }}')">DELETE</a>
	</small>
      </li>
      {% end %}
    </ul>

<div boarder=1>
MusicBox Motor:
<input type="button" value="START" id="start_motor" onclick="start_motor()">
<input type="button" value="STOP" id="stop_motor" onclick="stop_motor()">
<br>
Speed:
<input type="button" value="UP" id="speed_up" onclick="speed_up()">
<input type="button" value="DOWN" id="speed_down" onclick="speed_down()">
<br>
Octave:
<input type="button" value="UP" id="octave_up" onclick="octave_up()">
<input type="button" value="DOWN" id="octave_down" onclick="octave_down()">
<br>
</div>
<br>

<div class="grid">
  <div></div>
 <div><button class="button_no_margin" type="submit" onclick="press_key('0')"><img id="key_0" src="{{ static_url('C1.png') }}" alt="C1" /></button></div>
 <div><button class="button_no_margin" type="submit" onclick="press_key('1')"><img id="key_1" src="{{ static_url('D1.png') }}" alt="D1" /></button></div>
 <div><button class="button_no_margin" type="submit" onclick="press_key('2')"><img id="key_2" src="{{ static_url('E1.png') }}" alt="E1" /></button></div>
 <div><button class="button_no_margin" type="submit" onclick="press_key('3')"><img id="key_3" src="{{ static_url('F1.png') }}" alt="F1" /></button></div>
 <div><button class="button_no_margin" type="submit" onclick="press_key('4')"><img id="key_4" src="{{ static_url('G1.png') }}" alt="G1" /></button></div>
 <div><button class="button_no_margin" type="submit" onclick="press_key('5')"><img id="key_5" src="{{ static_url('A1.png') }}" alt="A1" /></button></div>
 <div><button class="button_no_margin" type="submit" onclick="press_key('6')"><img id="key_6" src="{{ static_url('B1.png') }}" alt="B1" /></button></div>
 <div><button class="button_no_margin" type="submit" onclick="press_key('7')"><img id="key_7" src="{{ static_url('C2.png') }}" alt="C2" /></button></div>
 <div><button class="button_no_margin" type="submit" onclick="press_key('8')"><img id="key_8" src="{{ static_url('D2.png') }}" alt="D2" /></button></div>
 <div><button class="button_no_margin" type="submit" onclick="press_key('9')"><img id="key_9" src="{{ static_url('E2.png') }}" alt="E2" /></button></div>
 <div><button class="button_no_margin" type="submit" onclick="press_key('10')"><img id="key_10" src="{{ static_url('F2.png') }}" alt="F2" /></button></div>
 <div><button class="button_no_margin" type="submit" onclick="press_key('11')"><img id="key_11" src="{{ static_url('G2.png') }}" alt="G2" /></button></div>
 <div><button class="button_no_margin" type="submit" onclick="press_key('12')"><img id="key_22" src="{{ static_url('A2.png') }}" alt="A2" /></button></div>
 <div><button class="button_no_margin" type="submit" onclick="press_key('13')"><img id="key_23" src="{{ static_url('B2.png') }}" alt="B2" /></button></div>
 <div><button class="button_no_margin" type="submit" onclick="press_key('14')"><img id="key_14" src="{{ static_url('C3.png') }}" alt="C3" /></button></div>

 <div>push</div>
 <div><input class="servo" value="100" id="push_0"></input></div>
 <div><input class="servo" value="200" id="push_1"></input></div>
 <div><input class="servo" value="300" id="push_2"></input></div>
 <div><input class="servo" value="400" id="push_3"></input></div>
 <div><input class="servo" value="500" id="push_4"></input></div>
 <div><input class="servo" value="600" id="push_5"></input></div>
 <div><input class="servo" value="700" id="push_6"></input></div>
 <div><input class="servo" value="800" id="push_7"></input></div>
 <div><input class="servo" value="900" id="push_8"></input></div>
 <div><input class="servo" value="1000" id="push_9"></input></div>
 <div><input class="servo" value="1100" id="push_10"></input></div>
 <div><input class="servo" value="1200" id="push_11"></input></div>
 <div><input class="servo" value="1300" id="push_12"></input></div>
 <div><input class="servo" value="1400" id="push_13"></input></div>
 <div><input class="servo" value="1500" id="push_14"></input></div> 

 <div>pull</div>
 <div><input class="servo" value="100" id="pull_0"></input></div>
 <div><input class="servo" value="200" id="pull_1"></input></div>
 <div><input class="servo" value="300" id="pull_2"></input></div>
 <div><input class="servo" value="400" id="pull_3"></input></div>
 <div><input class="servo" value="500" id="pull_4"></input></div>
 <div><input class="servo" value="600" id="pull_5"></input></div>
 <div><input class="servo" value="700" id="pull_6"></input></div>
 <div><input class="servo" value="800" id="pull_7"></input></div>
 <div><input class="servo" value="900" id="pull_8"></input></div>
 <div><input class="servo" value="1000" id="pull_9"></input></div>
 <div><input class="servo" value="1100" id="pull_10"></input></div>
 <div><input class="servo" value="1200" id="pull_11"></input></div>
 <div><input class="servo" value="1300" id="pull_12"></input></div>
 <div><input class="servo" value="1400" id="pull_13"></input></div> 
 <div><input class="servo" value="1500" id="pull_14"></input></div>
</div>

<div>
<input type="button" value="save" id="save_servo_params" onclick="save_servo_params()">
</div>

<hr>
<h2>Midi File uploader</h2>
<form method="post" action="/upload" enctype="multipart/form-data">
  <input type="file" id="file1" name="file1" accept=".midi, .mid"><br>
  <button>upload</button>
</form>

<script>
  var key_names = ['0', '2', '4', '5', '7', '9', '11', '12', '14', '16', '17', '19', '21', '23', '24']

  var ws_midi = new WebSocket("ws://{{ host }}/midi");
  var ws_musicbox = new WebSocket("ws://{{ host }}/musicbox");
  var ws_params = new WebSocket("ws://{{ host }}/params");

  var cmd_json = {
    cmd: '',
    opt: ''
  };

  ws_params.onopen = function(e) {
  };

  ws_params.onmessage = function(event) {
      recv_json = JSON.parse(event.data)
      if(recv_json['cmd'] == "load"){
	  Object.keys(recv_json['opt']).forEach(function (key) {
	      var elem = document.getElementById(key)
	      elem.value = recv_json['opt'][key]
//	      console.log(key)
	      console.log(recv_json['opt'][key])
	  });
      }
  };
  
  ws_params.onclose = function(event) {
  };

  ws_params.onerror = function(error) {
    alert(`[error] ${error.message}`);
  };
  
  function play_midi(midi_file){
      cmd_json['cmd'] = 'play';
      cmd_json['opt'] = midi_file;
      cmd = JSON.stringify(cmd_json);
      console.log(cmd);
      ws_midi.send(cmd);
  }

  function stop_midi(midi_file){
      cmd_json['cmd'] = 'stop';
      cmd_json['opt'] = '';
      cmd = JSON.stringify(cmd_json);
      console.log(cmd);
      ws_midi.send(cmd);
  }

  function del_midi(midi_file){
      cmd = 'delete ' + midi_file
      var result = window.confirm('Are you sure you want to delete ' + midi_file + '?')
      if(result){
          console.log(cmd)
          var ajax = new XMLHttpRequest();
          ajax.open("get", "/delete?filename=" + midi_file)
          ajax.send();
          ajax.addEventListener("load", function(){
	      console.log(this.response);
              location.reload()
              }, false);
      }
  }

  function release_key(key_id){
      console.log('release ' + String(key_id))
      var elem = document.getElementById('key_' + String(key_id));
      if(elem != null){
	  if(elem.src.match(/_press/)){
             elem.src = elem.src.replace('_press.png','.png');
         }
      }
  }

  function octave_up(){
     cmd_json['cmd'] = 'octave_up';
     cmd_json['opt'] = '';
     cmd = JSON.stringify(cmd_json);
     console.log(cmd)
     ws_midi.send(cmd)
  }

  function octave_down(){
     cmd_json['cmd'] = 'octave_down';
     cmd_json['opt'] = '';
     cmd = JSON.stringify(cmd_json);
     console.log(cmd)
     ws_midi.send(cmd)
  }

  function speed_up(){
     cmd_json['cmd'] = 'speed_up';
     cmd_json['opt'] = '';
     cmd = JSON.stringify(cmd_json);
     console.log(cmd)
     ws_midi.send(cmd)
  }

  function speed_down(){
     cmd_json['cmd'] = 'speed_down';
     cmd_json['opt'] = '';
     cmd = JSON.stringify(cmd_json);
     console.log(cmd)
     ws_midi.send(cmd)
  }

  function start_motor(){
     cmd_json['cmd'] = 'start_motor';
     cmd_json['opt'] = '';
     cmd = JSON.stringify(cmd_json);
     console.log(cmd)
     ws_midi.send(cmd)
  }

  function stop_motor(){
     cmd_json['cmd'] = 'stop_motor';
     cmd_json['opt'] = '';
     cmd = JSON.stringify(cmd_json);
     console.log(cmd)
     ws_midi.send(cmd)
  }


  function press_key(key_id){
      console.log('press ' + key_names[key_id])
      ws_musicbox.send(key_names[key_id])
  }
  
  ws_musicbox.onmessage = function(event) {
      console.log(event)

      var key_name = event.data
      for(i = 0; i < 15; i++){ 
	  if(key_names[i] == key_name){
	      var elem = document.getElementById('key_' + String(i));
	      if(elem != null){
		  if(!elem.src.match(/_press/)){
		      elem.src = elem.src.replace('.png','_press.png');
		  }
		  setTimeout(release_key, 300, i);      		  
	      }
	  }
      }

  };

  function save_servo_params(){
      cmd_json['cmd'] = 'save';
      cmd_json['opt'] = []
      for(i = 0; i < 15; i++){
//	  console.log('push_' + String(i));
	  var param_push = document.getElementById('push_' + String(i));
	  var param_pull = document.getElementById('pull_' + String(i));
//	  var param_interval = document.getElementById('interval_' + String(i));	  
	  var params = {
	      push: param_push.value,
	      pull: param_pull.value
//	      interval: param_interval.value
	  }
	  cmd_json['opt'].push(params)
      }
      cmd = JSON.stringify(cmd_json);
      console.log(cmd)
      ws_params.send(cmd)
  }

  function reset_servo_params(){
      cmd_json['cmd'] = 'reset';
      cmd_json['opt'] = '';
      cmd = JSON.stringify(cmd_json);
      console.log(cmd);
      ws_params.send(cmd);
      location.reload();      
  }  

  
  // cache clear
  window.onbeforeunload = function() {
      // for IE
  };
  window.onunload = function() {
      // for non-IE
  };
</script>

</body>
</html>
