body {
  background-color: #FFFFE0;
}

h1 {
  background-color: #99cc00;
}

button.button_no_margin {
    margin:0px;
    padding:0px;
    border-style:none;
    
}

img {
    margin:0px;
    padding:0px;
}

.grid {
    display: grid;
    grid-template-columns: 80px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 160px 20px 20px;
    grid-gap: 0px;
}

.servo {
    width: 40px;
}
